name: Monitor Task Progress (Liad)

on:
    push:
        branches:
            - repo-monitor-liad

jobs:
    monitor:
        runs-on: ubuntu-latest


        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            - name: Install dependencies
              run: pip install -r requirements.txt
            - name: Run monitor script
              run: cd monitor && python monitor.py
              env:
                SENDGRID_API_KEY_LIAD: ${{secrets.SENDGRID_API_KEY_LIAD}}
                EMAIL_ADDRESS_LIAD: ${{secrets.EMAIL_ADDRESS_LIAD}}
 
