name: Repo Monitor

on: 
  push:
    branches:
        - repo-monitor-dmitry
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r repo-monitor/requirements.txt
      - name: Run Monitor
        run: python repo-monitor/monitor.py
