name: Repo Monitor

on:
  push:
    branches: [ repo-monitor-elena ]

jobs:
  run-monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests PyYAML python-dotenv sendgrid

      - name: Run Repo Monitor script
        env:
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY_ELENA }}
        working-directory: ./repo-monitor
        run: python monitor.py